<div *ngIf="movie" class="row">
    
    <div class="col-sm-12 col-md-6 col-lg-4 ">
        <img class="w-100" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="poster">
    </div>
    
    
    <div class="p-2 col-sm-12 col-md-6 col-lg-8">

        <svg (click)="back()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
        </svg>


        <h1 class="text-center">{{movie.title}}</h1>
        <div class="d-flex flex-row">
            <div *ngFor="let genre of genres" class="mx-2">
                <p>{{genre}}</p>
            </div>
            
        </div>
        <p>{{movie.overview}}</p>

        <div class="d-flex justify-content-center mt-3">
            <iframe *ngIf="trailer && trailer.length > 0" className="clickedVideo"
                frameBorder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowFullScreen
                title="video"
                allowTransparency
                width="550" height="445"
                [src]="youTube()">
            </iframe>
        </div>
    </div>
    

</div>