.myHeight {
    height: 600px;
}

.myWidth {
    max-width: 400px;
}

svg {
    cursor: pointer;
}

.myButton {
    border-radius: 5%;
    border: 1px solid gray;
    background-color: white;
    &:hover {
        background-color: lightgray;
    }
}